body{
	background-color: orange;
}

#header-nav{
	padding-bottom: 30px;
	background-color: skyblue;
	border-radius: 0;
}

.navbar-brand h1{
	font-size: 1.8em;
	text-align: left;
	margin-top: 5px;
	color: green;
}

.Menu-header{
	font-size: 1.8em;
	color: blueviolet;
}

.Body-content{
	background-color: lightpink;
	margin: 10px 10px 10px 10px;
	padding: 20px;
	border: 2px solid black;
}

.Body-content p{
	font-size: 1.9em;
	text-align: justify;
}

.Body-content h3{
	margin-top: 5px;
}

@media(max-width: 767px){

  /*Start Header*/

  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }

  #collapsable-nav{
  	padding-top: 0;
  	margin-bottom: -30px;
  }

  .navbar-brand h1 {   
    margin-top: 5px;
    font-size: 5vw;   
  }

  #collapsable-nav a{
    font-size: 1.2em;
    background-color: lightgreen;
  }

  #collapsable-nav a:hover{
  	background-color: white;
  }

  /*End Header*/

  .Body-content{
  	margin: 10px auto 15px;
  }

  section.container{
  	margin-left: 30px;
  	margin-right: 30px;
  }

}